* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  text-align: center;
  overflow-x: hidden;
  font-family: sans-serif;
}

h1 {
  font-size: 6vmin;
  margin: 20px 0;
}

.container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-wrap: wrap;
  width: 60vmin;
  gap: 1.5vmin;
  justify-content: center;
  align-items: center;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 6vmin;
  color: #2d1304;
  text-align: center;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: rgb(235, 220, 135);
}

#btn,
#resetbtn {
  padding: 15px 50px;
  font-size: 20px;
  border-radius: 15px;
  border-width: 4px;
  margin: 20px 10px;
}

#msg {
  color: rgb(222, 19, 19);
  font-size: 5vmin;
  margin-bottom: 10px;
}

.msg-container {
  margin: 20px auto;
}

.hide {
  display: none;
}

/* Responsive Design */
@media (max-width: 600px) {
  .game {
    width: 90vmin;
  }

  .box {
    width: 26vmin;
    height: 26vmin;
    font-size: 10vmin;
  }

  #btn,
  #resetbtn {
    font-size: 18px;
    padding: 12px 35px;
  }

  #msg {
    font-size: 6vmin;
  }
}
